<header class="header">
  <ngb-carousel *ngIf="slides">
    <ng-template ngbSlide *ngFor="let slide of slides">
      <div class="inner-slide" [style.background-image]="'url(/images/' + slide.background + ')'">
      </div>
    </ng-template>
  </ngb-carousel>
</header>
<section class="container">
  <div class="card-base main-card">
    <p class="text">{{ content.MAIN_DESCRIPTION }}</p>
    <div class="next icon basic dark-chevron-right"></div>
  </div>
</section>
<div class="bamboo-1">
  <section class="container">
    <h2 class="title">{{ content.TITLE_SECTION.INTEGRATIVE }}</h2>
    <div class="therapies">
      <div class="description-section">
        <div class="icon-bar">
          <div class="bullet full white-chinese-med"></div>
          <div class="bullet"></div>
          <div class="bullet"></div>
          <div class="bullet"></div>
          <div class="bullet"></div>
        </div>
        <h3 class="subtitle">Medicina China y Tibetana</h3>
        <p class="description tiny">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
      </div>
      <div class="image-section"></div>
    </div>
    <div class="card-base main-card consultation-section">
      <div class="info icon medium primary-stethoscope"></div>
      <p class="text">{{ content.CONSULTATION_DESCRIPTION }}</p>
    </div>
  </section>
</div>
<div class="background-down">
  <div class="bamboo-2">
    <div class="button-container">
      <button type="button" class="btn main-button">{{ content.BUTTONS.CONTACT }}</button>
    </div>
    <section class="container">
      <div class="psychology-section container">
        <div class="card-base main-avatar" [ngStyle]="{'background-image': 'url(' + content.PSYCHOLOGY.AVATAR + ')'}">
          <div class="role-box">
            <p class="text-strong">{{ content.PSYCHOLOGY.NAME }}</p>
            <p class="tiny-strong">{{ content.PSYCHOLOGY.ROLE }}</p>
          </div>
        </div>
        <div class="info-container">
          <h3 class="subtitle">{{ content.PSYCHOLOGY.TITLE }}</h3>
          <p class="text">{{ content.PSYCHOLOGY.DESCRIPTION }}</p>
          <button class="btn secondary-button">
            {{ content.BUTTONS.KNOW_MORE }}
            <div class="icon basic secondary-chevron-right"></div>
          </button>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="background-up">
  <div class="bamboo-3">
    <section class="container">
      <h2 class="title">{{ content.TITLE_SECTION.HOLISTIC }}</h2>
      <div class="therapies-wrapper">
        <div class="therapie-box" *ngFor="let therapie of therapies">
          <div class="therapie card-base" [ngStyle]="{'background-image': 'url(' + therapie.AVATAR + ')'}">
            <button class="role-box with-button">
              <div>
                <p class="text-strong">{{ therapie.NAME }}</p>
                <p class="tiny-strong">{{ therapie.ROLE }}</p>
              </div>
              <div class="next icon basic dark-chevron-right"></div>
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
