<header class="header">
  <ngb-carousel *ngIf="slides">
    <ng-template ngbSlide *ngFor="let slide of slides">
      <div class="inner-slide" [style.background-image]="'url(/images/' + slide.background + ')'">
      </div>
    </ng-template>
  </ngb-carousel>
</header>
<section class="container">
  <div class="main-card">
    <p class="text">{{ texts.MAIN_DESCRIPTION }}</p>
    <div class="icon basic dark-chevron-right"></div>
  </div>
</section>
<section class="container">
  <h2 class="title">{{ texts.TITLE_SECTION.INTEGRATIVE }}</h2>
  <div class="therapies">
    <div class="description-section">
      <div class="icon-bar">
        <div class="bullet full white-chinese-med"></div>
        <div class="bullet"></div>
        <div class="bullet"></div>
        <div class="bullet"></div>
        <div class="bullet"></div>
      </div>
      <p class="subtitle">Medicina China y Tibetana</p>
      <p class="description tiny"> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
    </div>
    <div class="image-section"></div>
  </div>
</section>
