@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Font regular';
  src: url('../src/assets/fonts/Baloo2-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Font semibold';
  src: url('../src/assets/fonts/Baloo2-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Font bold';
  src: url('../src/assets/fonts/Baloo2-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Variables
$primary: #96D06B;
$primary-soft: #D7ECC7;
$secondary: #46C1ED;
$secondary-soft: #9EDBF1;
$medium: #8C9089;
$dark: #152807;
$light: #F8FBF6;
$font-regular: 'Font regular';
$font-semibold: 'Font semibold';
$font-bold: 'Font bold';

// HTML reset
body, h1, h2, h3, p { margin: 0; }
button {
  margin: 0;
  border: 0;
}

.body {
  color: $dark;
  background-color: $light;
}

a {
  color: inherit;
  text-decoration: none;
}

// Utils
.inner-icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.background-up {   background: linear-gradient(177.95deg, rgba(150, 208, 107, 0.2) 1.84%, rgba(150, 208, 107, 0.145313) 53.11%, rgba(248, 251, 246, 0.06) 98.41%); }
.background-down { background: linear-gradient(359.43deg, rgba(150, 208, 107, 0.2) 0.48%, rgba(150, 208, 107, 0.145313) 53.04%, rgba(248, 251, 246, 0.06) 99.49%); }

// Bootstrap
.carousel-indicators li { background-color:$medium; }

// Texts
.title {
  font: 48px $font-bold;
}
.subtitle {
  font: 32px $font-semibold;
}
.text {
  font: 24px $font-regular;
  line-height: 140%;
}
.text-strong {
  font: 24px $font-semibold;
  line-height: 140%;
}
.tiny {
  font: 18px $font-regular;
  line-height: 120%;
}
.tiny-strong {
  font: 18px $font-bold;
  line-height: 120%;
}

// Buttons
.main-button {
  width: 100%;
  height: 72px;
  color: $dark;
  max-width: 372px;
  border-radius: 12px;
  font: 32px $font-semibold;
  background-color: $primary;
}
.secondary-button {
  width: 100%;
  height: 58px;
  display: flex;
  max-width: 180px;
  color: $secondary;
  align-items: center;
  border-radius: 12px;
  font: 24px $font-regular;
  background-color: white;
  border: 2px solid $secondary;
  justify-content: space-evenly;
}

// Icons styles
.icon {
  &.basic {
    width: 24px;
    height: 24px;
    min-width: 24px;
  }
  &.medium {
    width: 48px;
    height: 48px;
    min-width: 48px;
  }
  &.large {
    width: 56px;
    height: 56px;
    min-width: 56px;
  }
}

.card-base {
  border-radius: 12px;
  box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.08);
}

.main-avatar {
  // TODO
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -30px;
}

.role-box {
  left: 8px;
  bottom: 8px;
  padding: 3.5% 6%;
  position: absolute;
  border-radius: 12px;
  background-color: $light;
  .tiny-strong { color: $medium; }
  &.with-button {
    left: 0;
    right: 0;
    width: 90%;
    bottom: 8px;
    margin: auto;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
  }
}

// Layout
.header {
  @extend .background-up;
  .inner-slide {
    height: 60vh;
    min-height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
  }
}

.container {
  padding: 4% 0;
  .title {
    margin-bottom: 4%;
    text-align: center;
  }
  .main-card {
    display: flex;
    padding: 4% 6%;
    display: flex;
    background: white;
    align-items: center;  
    .next { margin-left: 4%; }
    &.consultation-section {
      margin-top: 6%;
      .info { margin-right: 2%; }
    }
  }
}

.therapies {
  display: flex;
  .description-section {
    width: 55%;
    .icon-bar {
      padding: 0 4%;
      display: flex;
      margin-top: 32px;
      align-items: center;
      justify-content: space-evenly;
      border-top: 2px solid $secondary-soft;
      .bullet {
        width: 32px;
        height: 32px;
        cursor: pointer;
        margin-top: -32px;
        border-radius: 50%;
        background-color: $secondary-soft;
        &.full {
          width: 64px;
          height: 64px;
          max-width: 64px;
          cursor: initial;
          background-size: 44px;
          background-color: $secondary;
          filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
        }
      }
    }
    .subtitle { margin: 4% 0 0 2%; }
    .description {
      height: 20vh;
      display: flex;
      padding: 0 6%;
      color: $medium;
      text-align: right;
      align-items: center;
    }
  }
  .image-section {
    width: 45%;
    min-height: 100%;
    border-radius: 24px;
    box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.08);
  }
}

.button-container {
  width: 100%;
  display: flex;
  .btn { margin: auto; }
}

.psychology-section {
  display: flex;
  .main-avatar { width: 45%; }
  .info-container {
    width: 55%;
    display: flex;
    padding: 2% 4%;
    min-height: 400px;
    flex-direction: column;
    justify-content: space-between;
    .btn { align-self: flex-end; }
  }
}

.therapies-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .therapie-box {
    width: 24%;
    height: 320px;
    margin: 3% 1.5%;
    .therapie {
      width: 100%;
      height: inherit;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.footer {
  background-color: $primary-soft;
  .footer-inner {
    display: flex;
    padding: 8% 0;
    justify-content: center;
    .footer-section {
      width: 40%;
      .footer-item {
        margin: 2% 0;
        display: flex;
        align-items: center;
        .icon { margin-right: 8px; }
      }
      .rrss-box {
        display: flex;
        .icon { margin-right: 16px; }
      }
    }
  }
}

// Bamboo
.bamboo-1 {
  background-size: auto;
  background-position: -40px 90%;
}
.bamboo-2 {
  background-size: auto;
  background-position: 105% top;
}
.bamboo-3 {
  background-size: auto;
  background-position: -6% top;
}
.bamboo-4 {
  background-size: auto;
  background-position: 98% bottom;
}

// Icons
.dark-chevron-right { @extend .inner-icon; background-image: url('./assets/icons/dark-chevron-right.svg'); }
.primary-stethoscope { @extend .inner-icon; background-image: url('./assets/icons/primary-stethoscope.svg'); }
.secondary-chevron-right { @extend .inner-icon; background-image: url('./assets/icons/secondary-chevron-right.svg'); }
.white-chinese-med { @extend .inner-icon; background-image: url('./assets/icons/white-chinese-med.svg'); }
.white-orthomolecular { @extend .inner-icon; background-image: url('./assets/icons/white-orthomolecular.svg'); }

.dark-metro { @extend .inner-icon; background-image: url('./assets/icons/dark-metro.svg'); }
.dark-facebook { @extend .inner-icon; background-image: url('./assets/icons/dark-facebook.svg'); }
.dark-instagram { @extend .inner-icon; background-image: url('./assets/icons/dark-instagram.svg'); }
.dark-youtube { @extend .inner-icon; background-image: url('./assets/icons/dark-youtube.svg'); }


//homotoxicology

// Images
.bamboo-1 { @extend .inner-icon; background-image: url('./assets/img/bamboo-1.svg'); }
.bamboo-2 { @extend .inner-icon; background-image: url('./assets/img/bamboo-2.svg'); }
.bamboo-3 { @extend .inner-icon; background-image: url('./assets/img/bamboo-3.svg'); }
.bamboo-4 { @extend .inner-icon; background-image: url('./assets/img/bamboo-4.svg'); }
