@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Font regular';
  src: url('../src/assets/fonts/Baloo2-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Font semibold';
  src: url('../src/assets/fonts/Baloo2-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Font bold';
  src: url('../src/assets/fonts/Baloo2-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$primary: #96D06B;
$secondary: #46C1ED;
$secondary-ligther: #9EDBF1;
$medium: #8C9089;
$dark: #152807;
$light: #F8FBF6;
$font-regular: 'Font regular';
$font-semibold: 'Font semibold';
$font-bold: 'Font bold';

body, h1, h2, h3, p { margin: 0; }

.body {
  color: $dark;
  background-color: $light;
}

// Utils
.inner-icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.background-up {   background: linear-gradient(177.95deg, rgba(150, 208, 107, 0.2) 1.84%, rgba(150, 208, 107, 0.145313) 53.11%, rgba(248, 251, 246, 0.06) 98.41%); }
.background-down { background: linear-gradient(359.43deg, rgba(150, 208, 107, 0.2) 0.48%, rgba(150, 208, 107, 0.145313) 53.04%, rgba(248, 251, 246, 0.06) 99.49%); }

// Bootstrap
.carousel-indicators li { background-color:$medium; }

// Texts
.title {
  font: 48px $font-bold;
}
.subtitle {
  font: 32px $font-semibold;
}
.text {
  font: 24px $font-regular;
  line-height: 140%;
}
.tiny {
  font: 18px $font-regular;
  line-height: 120%;
}

// Buttons
.main-button {
  width: 100%;
  height: 72px;
  color: $dark;
  max-width: 372px;
  border-radius: 12px;
  font: 32px $font-semibold;
  background-color: $primary;
}
.secondary-button {
  width: 100%;
  height: 58px;
  display: flex;
  max-width: 180px;
  color: $secondary;
  align-items: center;
  border-radius: 12px;
  font: 24px $font-regular;
  background-color: white;
  border: 2px solid $secondary;
  justify-content: space-evenly;
}

// Layout
.header {
  @extend .background-up;
  .inner-slide {
    height: 60vh;
    min-height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
  }
}

.container {
  padding: 4% 0;
  .title {
    margin-bottom: 4%;
    text-align: center;
  }
  .main-card {
    padding: 4% 6%;
    display: flex;
    background: white;
    align-items: center;  
    border-radius: 12px;
    box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.08);
    .next { margin-left: 4%; }
    &.consultation-section {
      margin-top: 6%;
      .info { margin-right: 2%; }
    }
  }
}

.therapies {
  display: flex;
  .description-section {
    width: 55%;
    .icon-bar {
      padding: 0 4%;
      display: flex;
      margin-top: 32px;
      align-items: center;
      justify-content: space-evenly;
      border-top: 2px solid $secondary-ligther;
      .bullet {
        width: 32px;
        height: 32px;
        cursor: pointer;
        margin-top: -32px;
        border-radius: 50%;
        background-color: $secondary-ligther;
        &.full {
          width: 64px;
          height: 64px;
          max-width: 64px;
          cursor: initial;
          background-size: 44px;
          background-color: $secondary;
          filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
        }
      }
    }
    .subtitle { margin: 4% 0 0 2%; }
    .description {
      height: 20vh;
      display: flex;
      padding: 0 6%;
      color: $medium;
      text-align: right;
      align-items: center;
    }
  }
  .image-section {
    width: 45%;
    min-height: 100%;
    border-radius: 24px;
    box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.08);
  }
}

.button-container {
  width: 100%;
  display: flex;
  .btn { margin: auto; }
}

.psychology-section {
  display: flex;
  .main-card {
    width: 45%;
  }
  .info-container {
    width: 55%;
    display: flex;
    padding: 2% 4%;
    min-height: 400px;
    flex-direction: column;
    justify-content: space-between;
    .btn { align-self: flex-end; }
  }
}

// Icons styles
.icon {
  &.basic {
    width: 24px;
    height: 24px;
    min-width: 24px;
  }
  &.medium {
    width: 48px;
    height: 48px;
    min-width: 48px;
  }
}

// Bamboo
.bamboo-1 {
  background-size: auto;
  background-position: -40px 90%;
}
.bamboo-2 {
  background-size: auto;
  background-position: 105% top;
}

// Icons
.dark-chevron-right { @extend .inner-icon; background-image: url('./assets/icons/dark-chevron-right.svg'); }
.primary-stethoscope { @extend .inner-icon; background-image: url('./assets/icons/primary-stethoscope.svg'); }
.secondary-chevron-right { @extend .inner-icon; background-image: url('./assets/icons/secondary-chevron-right.svg'); }
.white-chinese-med { @extend .inner-icon; background-image: url('./assets/icons/white-chinese-med.svg'); }
.white-orthomolecular { @extend .inner-icon; background-image: url('./assets/icons/white-orthomolecular.svg'); }

//homotoxicology

// Images
.bamboo-1 { @extend .inner-icon; background-image: url('./assets/img/bamboo-1.svg'); }
.bamboo-2 { @extend .inner-icon; background-image: url('./assets/img/bamboo-2.svg'); }